@tailwind base;
@tailwind components;
@tailwind utilities;

.background{
  width: 100vw;
  height:100vh;
  background-color:black;
}

.left-line{
  border-left: 1px solid white;
  display:black;
  height:100%;
  width:1px;
  float:right;
}
.right-line{
  border-left: 1px solid white;
  display:black;
  height:100%;
  width:1px;
  float:left;
}

.middle{
  margin-left:30%;
}

.right{
  margin-left:65%;
}