@tailwind base;
@tailwind components;
@tailwind utilities;


.close{
    width:30px;
    height:30px;
    position: absolute;
    color:white;
    font-size: 16px;
    border-radius: 9999px;
    justify-items: center;
    align-items:center;
}

.choices{
    display: flex;
    flex-direction: row;
    width:100%;
    height:50%;
    border-radius: 30px;
    color:white;
    justify-items: center;
    align-items:center;
    padding-left: auto;
}

.close:hover,.choices:hover{
    background: rgba(255, 255, 255, .25) ;
};

.choicesImage{
    padding-left: 15px;
}